	body {
		width: 800px;
		margin: auto;
		font-family: Verdana, Arial;
	}

	li {
		color: #775577;
		padding: 5px;
		text-decoration: underline;
		cursor: pointer;
	}

	li:hover {
		background-color: rgb(223, 117, 20);
	}

	button {
  		border: none;
		color: white;
		padding: 10px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		border-radius: 12px;
	}

	.message {
		color: red;
		font-style: italic;
	}

	.buttonOrange {background-color: orange;}
	.buttonBlue {background-color: #5050AF;}
	.buttonGreen {background-color: #4CAF50;}
	.buttonRed {background-color: red;}

	.button-positive {
	    background: rgb(28, 184, 65);
	    /* this is a green */
	}

	.button-negative {
	    background: rgb(202, 60, 60);
	    /* this is a maroon */
	}

	.button-primary {
	    background: rgb(223, 117, 20);
	    /* this is an orange */
	}

	.button-secondary {
	    background: rgb(66, 184, 221);
        /* this is a light blue */